# toru34
.DS_Store
data

# Prerequisites
*.d
.vscode
.ipynb_checkpoints
*.dSYM
*.txt
test.cpp
_*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
